@import url("fonts.css");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "ProximaNova Regular";
}

h1,
h2,
h3 {
  font-family: "Montserrat";
}

.container {
  max-width: 1211px;
  margin: 0 auto;
  padding: 0 20px;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.header-slider {
  background-color: #d4e9f9;
  height: 50px;
}

.header-slide {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header-slide p {
  color: #000;
  text-align: center;
  font-family: ProximaNova Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}

.mobile-nav,
.mobile-header-bottom,
.mobile-set,
.mobile-footer-center,
.mobile-footer-bottom,
.burg-menu,
.mobile-action-list.swiper {
  display: none;
}

.nav-top {
  background-color: #f7ebe5;
  padding: 14px 0 13px;
  color: rgba(0, 0, 0, 0.79);
  font-family: ProximaNova Regular;
  font-size: 14px;
}

.nav-top .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav-top a:hover {
  color: rgba(100, 100, 100, 0.79);
  transition: all 0.2s ease;
}

.nav-tp-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav-tp-right {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-tp-right .item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 19px;
}

.social-item img {
  display: flex;
  align-items: center;
}

.nav-bottom .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  color: #2b1414;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-btm-center,
.nav-btm-center a,
.nav-btm-right,
.nav-btm-right a {
  display: flex;
  align-items: center;
}

a.logo {
  font-size: 0;
}

.nav-btm-center,
.nav-btm-right {
  gap: 30px;
}

.nav-btm-center a,
.nav-btm-right a {
  gap: 5px;
}

.nav-bottom a:hover {
  color: #e7426a;
  transition: all 0.2s ease;
}

.item:focus img[alt="Vector"],
.nav-bottom a:focus img[alt="Vector"] {
  transform: rotate(-180deg);
  transition: all 0.5s ease;
}

a.item {
  position: relative;
}

.sub-menu {
  gap: 5px;
  padding-left: 22px;
  padding-bottom: 10px;
  flex-direction: column;
  position: absolute;
  background-color: #F7EBE5;
  width: 150px;
  border-radius: 0 0 10px 10px;
  visibility: hidden;
  display: flex;
}

.item:focus~.sub-menu,
.sub-menu:hover,
.nav-bottom a:focus~.sub-menu {
  visibility: visible;
  padding-top: 10px;
  transition: all .3s ease;
}


.sub-menu-bottom {
  padding-left: 0;
  background-color: #fff;
  width: max-content;
}

.header-bottom {
  background: url("../img/Background.jpg") no-repeat;
  background-size: cover;
  height: 475px;
}

.hb-content {
  padding: 148px 0;
  margin-left: auto;
  max-width: 499px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: var(--292929, #292929);
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

.hb-content .since {
  display: flex;
  align-items: center;
  gap: 9px;
  padding-top: 1px;
  padding-bottom: 24px;
}

.hb-content .since h3 {
  font-size: 16px;
}

.hb-content h1 {
  text-align: center;
  font-size: 42px;
  padding-bottom: 13px;
  color: var(--292929, #292929);
  text-align: center;
  font-family: Montserrat;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

.hb-content p {
  max-width: 500px;
  font-size: 18px;
  text-align: center;
}

.sets {
  margin-top: 47px;
}

.sets .container {
  display: flex;
  flex-direction: column;
}

.sets-list {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}

.sets-list:last-of-type{
  margin-bottom: 0;
}

.sets-list li {
  max-width: 570px;
  width: 100%;
  height: 260px;
}

.set-1 {
  background-color: #ffdbc3;
}

.set-1:hover {
  background-color: #e1c3ad;
  transition: background-color 0.2s ease;
}

.set-2 {
  background-color: #ffc2cc;
}

.set-2:hover {
  background-color: #eab0ba;
  transition: background-color 0.2s ease;
}

.set-3 {
  background-color: #b4eab3;
}

.set-3:hover {
  background-color: #a2d3a2;
  transition: background-color 0.2s ease;
}

.set-4 {
  background-color: #fdd5cd;
}

.set-4:hover {
  background-color: #d3b7a6;
  transition: background-color 0.2s ease;
}

.set-5 {
  background-color: #a8dcdf;
}

.set-5:hover {
  background-color: #9bcacc;
  transition: background-color 0.2s ease;
}

.set-6 {
  background-color: #c4c6ec;
}

.set-6:hover {
  background-color: #b0b1d2;
  transition: background-color 0.2s ease;
}

.set a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 36px;
}

.set-article {
  display: flex;
  gap: 10px;
  padding-top: 19px;
}

.set-article h4 {
  color: var(--292929, #292929);
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.set a p {
  text-align: center;
  font-size: 16px;
  padding-top: 12px;
}

.action {
  margin-top: 94px;
}

.swiper-pagination {
  display: flex;
  margin-left: auto;
  max-width: max-content;
  gap: 10px;
  margin-top: 37px;
}

.swiper-pagination-bullet {
  display: block;
  background-color: #fff;
  width: 12px;
  height: 12px;
  border: 1px solid #E5E5E5;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #E7426A;
  border: none;
}

.action-item {
  display: flex;
  flex-direction: column;
  height: 380px;
  max-width: 270px;
}

.action-article {
  color: var(--292929, #292929);
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 50px;
}

.action-list {
  display: flex;
  justify-content: space-between;
}

.action-image {
  width: 270px;
  height: 270px;
}

.action-image1 {
  background-image: url(../img/Action1.jpg);
}

.action-image2 {
  background-image: url(../img/Action2.jpg);
}

.action-image3 {
  background-image: url(../img/Action3.jpg);
}

.action-image4 {
  background-image: url(../img/Action4.jpg);
}

.ribbon {
  font-family: "ProximaNova Semi-Bold";
  font-size: 16px;
  color: white;
  font-weight: 600;
  line-height: 12px;
  margin-top: 15px;
  padding: 5px 10px;
}

.ribbon-free {
  background-image: url(../img/Ribbon1.svg);
  background-repeat: no-repeat;
}

.ribbon-new {
  background-image: url(../img/Ribbon2.svg);
  background-repeat: no-repeat;
}

.ribbon-sweet-new {
  background-image: url(../img/Ribbon3.svg);
  background-repeat: no-repeat;
}

.action-text {
  color: white;
  padding: 20px 20px 30px;
  background-color: #ff4d6d;
  border-radius: 0px 0px 5px 5px;
  color: var(--, #fff);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.first-action-text {
  background-color: #8cc4ec;
}

.slick-dots,
.point-list {
  display: flex;
  margin-left: auto;
  margin-top: 37px;
  gap: 10px;
  width: 56px;
  margin-right: 23px;
}

.slick-dots li button,
.point {
  font-size: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.slick-dots li.slick-active button,
.point-active {
  width: 12px;
  height: 12px;
  border: none;
  font-size: 0;
  background-color: #e7426a;
}

.holidays {
  margin-top: 94px;
}

.holidays .container {
  position: relative;
}

.holidays .container h3 {
  color: #292929;
  color: var(--292929, #292929);
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.holiday-container {
  margin: -13px auto 0;
  max-width: 1170px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  background-image: url(../img/Holiday-line.svg);
  background-repeat: no-repeat;
  background-position-y: 87px;
}

.holiday {
  width: 170px;
  height: 111px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #292929;
}

.holiday:first-of-type {
  height: 172px;
}

.reverse-img {
  transform: scale(-1, 1);
}

.holiday span {
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}

.holiday:hover {
  transform: scale(1.2);
  color: rgb(255, 107, 107);
  transition: all 0.5s ease;
}

.popular-sets {
  margin-top: 115px;
}

.popular-set-article {
  color: #292929;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}

.popular-sets-block {
  margin-top: 42px;
  display: flex;
  gap: 35px 27px;
  flex-wrap: wrap;
  justify-content: center;
}

.popular-set {
  max-width: 372px;
  height: 460px;
  border-radius: 4px;
  border: 1px solid #ededf0;
  display: flex;
  flex-direction: column;
}

.popular-set-mobile {
  display: none;
}

.popular-set-desc {
  padding: 21px 23px 20px 22px;
}

.popular-set-desc h4 {
  color: #292929;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  font-family: Montserrat;
  font-weight: 600;
}

.popular-set-desc p {
  color: #292929;
  font-family: "ProximaNova Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
  margin-top: 11px;
}

.popular-set-cost {
  border-top: 1px solid #ededf0;
  display: flex;
  max-height: 49px;
  align-items: center;
  margin-top: auto;
}

.popular-set-cost p {
  color: #e7426a;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 221px;
  width: 100%;
  padding-left: 22px;
}

.popular-set-cost a {
  max-width: 148px;
  min-height: 50px;
  width: 100%;
  color: rgba(0, 0, 0, 0.88);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  border-left: 1px solid #ededf0;
}

.popular-set-cost a:hover {
  background-color: #ededf0;
  transition: all 0.5s ease;
}

.popular-set-cost a span {
  padding-top: 2px;
}

.more-popular-sets {
  display: block;
  width: clamp(218px, 50vw, 292px);
  height: clamp(40px, 10vw, 52px);
  border-radius: 3px;
  border: 1px solid #4e9dd3;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: clamp(12px, 3vw, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  margin-top: 35px;
  padding-top: clamp(11px, 3vw, 18px);
}

.more-popular-sets:hover {
  background-color: #4e9dd3;
  color: white;
  transition: all 0.5s ease;
}

.news {
  margin-top: 85px;
}

.news-sec-article {
  color: var(--292929, #292929);
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.news-blocks {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
}

.news-block {
  display: block;
  width: 368px;
  height: 419px;
  border-radius: 5px 5px 5px 5px;
  border-top: 1px solid var(--ededf-0, #ededf0);
  border-right: 1px solid var(--ededf-0, #ededf0);
  border-left: 1px solid var(--ededf-0, #ededf0);
}

.news-text {
  padding: 16px 19px;
}

.news-date {
  color: #969696;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.news-article {
  margin-top: 9px;
  color: var(--292929, #292929);
  text-align: left;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.news-desc {
  margin-top: 10px;
  color: #292929;
  font-family: "ProximaNova Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}

.news-blocks .swiper-pagination{
  margin-top: 20px;
}

.more-news {
  display: block;
  width: clamp(130px, 30vw, 189px);
  height: clamp(40px, 10vw, 52px);
  border-radius: 3px;
  border: 1px solid #4e9dd3;
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  margin-top: 3px;
  padding-top: clamp(12px, 3vw, 17px);
}

.more-news:hover {
  background-color: #4e9dd3;
  color: white;
  transition: all 0.5s ease;
}

.care {
  margin-top: 85.5px;
  height: 478px;
}

.care .conatiner{
  max-width: 1221px;
}

.care-sec-article {
  color: var(--292929, #292929);
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.care-blocks {
  margin-top: 41px;
  display: flex;
  justify-content: space-between;
  gap: 16px 7px;
}

.care-block {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  height: 401px;
}

.care-article {
  margin-top: clamp(15px, 3vw, 29px);
  color: var(--292929, #292929);
  text-align: left;
  font-family: Montserrat;
  font-size: clamp(12px, 3vw, 18px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.care-desc {
  margin-top: 9px;
  color: #292929;
  font-family: "ProximaNova Regular";
  font-size: clamp(10px, 2vw, 14px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.8;
}

footer {
  background-color: #ebedee;
  margin-top: 37px;
  min-height: 318px;
  padding-top: 57px;
}

footer .container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer-left {
  max-width: 370px;
}

.footer-left-top {
  display: flex;
  max-width: 328px;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.short-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--292929, #292929);
  text-align: center;
  font-family: "ProximaNova Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.short-desc p {
  padding-top: 15px;
}

.footer-left-bottom {
  width: 100%;
  display: block;
  padding-top: 27px;
  color: var(--292929, #292929);
  font-family: "ProximaNova Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}

.footer-center {
  display: flex;
  max-width: 572px;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  color: #292929;
  font-family: "ProximaNova Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-center-list {
  max-width: 172px;
  width: 100%;
}

.footer-center-list li {
  padding-bottom: 12px;
}

.footer-center-list li:first-child {
  font-family: "ProximaNova Semi-Bold";
  padding-bottom: 18px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer-center-list li:hover {
  color: #828282;
  transition: all 0.5s ease;
}

.footer-right {
  max-width: 165px;
  width: 100%;
  text-align: right;
}

.footer-tel {
  color: #292929;
  color: var(--292929, #292929);
  font-family: "ProximaNova Semi-Bold";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.2px;
}

.footer-tel:hover {
  color: #828282;
  transition: all 0.5s ease;
}

.footer-time {
  margin-top: 5px;
  color: var(--292929, #292929);
  font-family: "ProximaNova Regular";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social a {
  display: block;
}

.social {
  margin-left: auto;
  margin-top: 70px;
  width: 156px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}